#home {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
  position: relative;
  transition: top 0.7s ease;

  &.normal {
    top: 0vh;
  }
  &.go-up {
    top: -60vh;
  }

  #next-page-banner {
    position: fixed;
    top: 100vh;
    object-fit: cover;
    width: 100%;
    transition: top 0.7s ease;

    &.normal {
      top: 100vh;
    }
    &.go-up {
      top: 0vh;
    }
  }
}
