.header {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;

  span {
    padding: 2rem 1rem;
    min-width: 6rem;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.5s ease;
    &:hover {
      opacity: inherit;
    }
    &.active {
      opacity: inherit;
    }
  }
}
