#background-image {
  position: absolute;
  top: 0%;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s ease;

  &:after {
    content: "";
    position: absolute;
    background: linear-gradient(0deg, rgba(39, 38, 42, 1) 0%, rgba(255, 255, 255, 0) 60%);
    z-index: 2;
    height: 30%;
    width: 100%;
    bottom: 0;
  }
}

.my-work-intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
  opacity: 1;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px solid transparent;

  transition: 0.5s ease;
  transition-property: opacity, border;

  &.hide {
    opacity: 0;
  }

  &:hover {
    border-color: white;
  }
}
