.banner-container {
  position: relative;
  overflow: hidden;

  .my-work-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    position: absolute;
  }

  .back {
    position: fixed;
    left: 5%;
    top: 10%;
    cursor: pointer;
    z-index: 2;
  }

  .introdution {
    position: absolute;
    top: 5%;
    right: 15%;
    width: 350px;
    height: 100%;

    h1 {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 5rem;
    }

    .done-with {
      margin-top: 30%;
    }

    .scroll-down {
      position: absolute;
      bottom: 10%;
      cursor: pointer;
      &-image {
        cursor: pointer;
        scale: 0.2;
        margin-left: 3rem;
      }
    }
  }
}
