#image-track {
  display: flex;
  position: absolute;
  cursor: pointer;
  transition-property: top, left, gap;

  .image {
    object-fit: cover;
    transition: 0.5s ease;
    transition-property: width, height;
  }

  &.small {
    gap: 1vmin;
    .image {
      width: 60px;
      height: 38px;
    }
  }

  &.big {
    gap: 20px;
    .image {
      width: 298px;
      height: 418px;
    }
  }
}
