#dogs-and-cats {
  background-color: black;

  .content {
    &__image-container {
      display: flex;
      justify-content: center;
      margin-top: 10rem;
      &__image {
        width: 50%;
        min-width: 300px;
        aspect-ratio: 1.618;
        object-fit: cover;
        transition: 0.7s ease;
        transition-property: opacity, transform;
        &.hide {
          opacity: 0;
          transform: translateY(50px);
        }
        &.show {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }
}

.end-of-work {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50vh;
  position: relative;

  &__next-project-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    .intro {
      font-size: 3rem;
    }
    .sub {
      font-size: 1.5rem;
    }
  }

  &__next-project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.3s ease;
    transition-property: width, height;
  }
  &__next-project-image {
    object-fit: cover;
    opacity: 0.7;
    transition: transform 0.3s ease;
  }
}
